body {
  background-color: #185dcc;
  text-align: center;
}

#output {
  display: none;
}

h1 {
  text-shadow: 2px 2px;
}

h2 {
  color:white;
}

a {
  color:#ccd3e0;
}

#male-pop, #female-pop, #male-rnb, #female-rnb, #male-classical, #female-classical {
  display: none;
}
